<body class="text-center ">
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="jumbotron">
    <div class="container" style="background-color:#e8e8e8">
      <form class="form-signin" [formGroup]="form" (ngSubmit)="validarInicioSesion()" >
        <br>
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Favor de iniciar sesion</h1>
        <label for="exampleInputEmail1">Nombre</label>
        <input type="text" id="inputEmail" class="form-control" formControlName="nombre" placeholder="Usuario" required autofocus>
        <label for="exampleInputEmail1">Password</label>
        <input type="password" id="inputPassword" class="form-control" formControlName="password" placeholder="Password" required>
        <br>
        <nav>
          <a routerLink="/usuario">
            <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fas fa-key"></i >Iniciar sesion</button>
          </a>
        </nav>
      </form>
      <br>
    </div>
  </div>




</body>
