<br>
<table class="table table-striped">
  <tbody>
    <tr *ngFor = "let usuario of usuarioServicio.list">
      <td>{{usuario.id}}</td>
      <td>{{usuario.Nombre}}</td>
      <td>{{usuario.ApellidoPaterno}}</td>
      <td>{{usuario.ApellidoMaterno}}</td>
      <td>{{usuario.RFC}}</td>
      <td>{{usuario.FechaNacimiento}}</td>
      <td>
        <i class="far fa-edit fa-lg text-info" (click)="editar(usuario)" style="cursor: pointer;"></i>
      </td>
      <td>
        <i class="far fa-trash-alt fa-lg text-danger" (click)="eliminarTarjeta(1)" style="cursor: pointer;"></i>
      </td>

    </tr>
  </tbody>
</table>



