<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido paterno</th>
      <th scope="col">Apellido Materno</th>
      <th scope="col">RFC</th>
      <th scope="col">Fecha Nacimiento</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let usuario of usuarioServicio.list">
      <td>{{usuario.idPersonaFisica}}</td>
      <td>{{usuario.nombre}}</td>
      <td>{{usuario.apellidoPaterno}}</td>
      <td>{{usuario.apellidoMaterno}}</td>
      <td>{{usuario.rfc}}</td>
      <td>{{usuario.fechaNacimiento}}</td>
      <td>
        <i class="far fa-edit fa-lg text-info" (click)="editar(usuario)" style="cursor: pointer;"></i>
      </td>
      <td>
        <i class="far fa-trash-alt fa-lg text-danger" (click)="eliminarUsuario(1)" style="cursor: pointer;"></i>
      </td>
    </tr>
  </tbody>
</table>
<nav>
  <a routerLink="/reporte-usuario">
    <button style="width: 100%; color: white; " class="btn btn btn-info btn-lg btn-block"  type="menu"> <i class="far fa-file-alt"></i >Obtener reporte</button>
  </a>
</nav>




